<div style="margin-top:80px;position:relative;">

<style type="text/css">
	.kurbi-vadfea-grandparent {
		display:-webkit-flex;
		display:flex;
		-webkit-flex-wrap:nowrap;
		flex-wrap:nowrap;
		-webkit-flex-direction:row;
		flex-direction:row;
		-webkit-justify-content:flex-start;
		justify-content:flex-start;
		-webkit-align-items:stretch;
		align-items:stretch;
		width:100%;
	}
	.kurbi-vadfea-img-container {
		margin-right:5px;
		display: inline-block;
	}
	.kurbi-vadfea-displayName {
		display: inline-block;
		font-size:14px;
		font-weight:bold;
		line-height: 40px;
		color:#000000;
	}
	.kurbi-vadfea-body {
		margin-top: 10px;
	}
	.kurbi-vadfea-text {
		font-size: 15px;
		color:#222222;
		font-weight:lighter;
		white-space:pre-wrap;
		line-height: 1.6;
	}

</style>

<div class="kurbi-vadfea-grandparent">
	<div class="kurbi-vadfea-parent">
		<div class="kurbi-vadfea-img-container">
			<img class="kurbi-vadfea-img" src="{{image}}" width="40" height="40" alt="{{displayName}}" />
		</div><!-- /.kurbi-vadfea-img-container -->
		<div class="kurbi-vadfea-displayName">{{displayName}}</div>
		<div class="kurbi-vadfea-body">
			<div class="kurbi-vadfea-text">{{text}}</div>
		</div><!-- /.kurbi-vadfea-body -->
	</div><!-- /.kurbi-vadfea-parent -->
</div><!-- /.kurbi-vadfea-grandparent -->
