{{#if self}}

	<div style="padding-top:40px;display:block;">

	<style type="text/css">
		.kurbi-allmf-image {
			width: auto;
			height:60px;
		}
	</style>

		<img class="kurbi-allmf-image" src="{{image}}"/>

	</div>


{{else}}

	<div style="padding-top:40px;display:block;">

		<style type="text/css">
			.kurbi-llmf-image {
				width:auto;
				height:60px;
				
			}
		</style>

		<img class="kurbi-llmf-image" src="{{image}}"/>

	</div>

{{/if}}