<div class="kurbi-chat-icon"></div>
<div class="kurbi-chat-text">Thanks for visiting our website. We know how confusing it can be to find the care you're looking for. We'd love for you to choose {{name}}, but we care more about you finding the right fit for you.</div>
<div class="kurbi-chat-icon"></div>
<div class="kurbi-icon-selector">
	<ul>
		{{#each icons}}
		<li>{{this}}</li>
		{{/each}}
	</ul>


</div>


	<div class="kurbi-chat-page1 kurbi-chat-grow">
		<div class="kurbi-chat-icon"></div>
		<div>Thanks for visiting our website. We know how confusing it can be to find the care you're looking for. We'd love for you to choose {{name}}, but we care more about you finding the right fit for you.</div>
		<div class="kurbi-chat-icon"></div>
		<div class="kurbi-icon-selector">
			{{#each icons}}
			<img class="kurbi-icon" src={{this}}>

			{{/each}}
		
		</div>
	</div>


	<div class="kurbi-chat-page2 kurbi-chat-grow">
		<div>Okay, what's the situation?</div>
		<select>
		  <option vlaue="" disabled selected>What's bothering you?</option>
		  <option value="a">Wes</option>
		  <option value="b">Lost socks</option>
		  <option value="c">Not enough people are fans of BSG</option>
		  <option value="d">Mirrors</option>
		</select>

		<select>
		  <option vlaue="" disabled selected>For how long?</option>
		  <option value="a">5</option>
		  <option value="b">a year</option>
		  <option value="c">a minute</option>
		  <option value="d">football</option>
		</select>

		<select>
		  <option vlaue="" disabled selected>have you tried...</option>
		  <option value="a">talking about it</option>
		  <option value="b">not talking about it</option>
		  <option value="c">thinking of the last place you saw a baseball</option>
		  <option value="d">everthing! ... really??</option>
		</select>


	</div>

	<div class="kurbi-chat-footer kurbi-chat-page2">
		<div class="kurbi-button">NEXT</div>
	</div>


	<div class="kurbi-chat-page3">
		<div class="kubi-chat-icon"></div>
		<div class="kurbi-chat-form-responses"></div> 
		<div class="kurbi-chat-icon"></div>
		<div>Can you tell me more about your situation?  Pleace provide as much detail as you can.</div>
	</div>


	<div class="kurbi-chat-page4">
		<div class="kurbi-chat-icon"></div>
		<div>Thanks for trusting us with your information. We use an app called Kurbi to find the best answers to questoins like yours from professionals like us throughout the Madison area.  That means you'll get feedback from us and other qualified professionals in the area.</div>
		<br>
		<div>Is it okay to email you what we find later today?</div>

	</div>