<div style="margin-top:100px;margin-bottom:100px">

<style type="text/css">

	.kurbi-qetrt-displayName {
		font-family:sans-serif;
		font-weight:bold;
		font-size:.8em;
		margin-bottom:15px;
		color:#444444;

	}

	.kurbi-qetrt-text{
		font-family:sans-serif;
		font-size:1.8em;
		color:#666666;
	}



</style>

<div class="kurbi-qetrt-displayName">{{displayName}}</div>
<div class="kurbi-qetrt-text">{{text}}</div>


</div>