<div style="margin-top:0px;position:relative;">

<style type="text/css">
	.kurbi-hnmk-grandparent {
		display:flex;
		flex-wrap:nowrap;
		flex-direction:row;
		justify-content:flex-start;
		align-items:stretch;
		width:100%;
	}
	.kurbi-hnmk-img-container {
		margin-right:5px;
		display: inline-block;
	}
	.kurbi-hnmk-displayName {
		display: inline-block;
		font-size:14px;
		font-weight:bold;
		line-height: 40px;
		color:#000000;
	}
	.kurbi-hnmk-body {
		margin-top: 10px;
	}
	.kurbi-hnmk-text {
		font-size: 15px;
		color:#222222;
		font-weight:lighter;
		white-space:pre-wrap;
		line-height: 1.6;
	}
	
</style>

<div class="kurbi-hnmk-grandparent">
	<div class="kurbi-hnmk-parent">
		<img class="kurbi-hnmk-img" src="{{mainimage}}" alt="{{text}}" style="width: 100%; height:auto;" />
	</div><!-- /.kurbi-hnmk-parent -->
</div><!-- /.kurbi-hnmk-grandparent -->
