@headerColor: #00aabb;
@bodyColor: #ffffff;
@inputColor: #eeeeee;
@bannerColor: #00aabb;
@bannerHeaderColor:#555555;
@inputHeight: 50px;
@kurbiBlue: #0088ff;
@kurbiBlue-light:#00aaff;
@kurbiGray: #444444;
@kurbiGray-light:#777777;