<div>
<style type="text/css">
.kurbi-qwpp-parent {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	-webkit-justify-content:flex-start;
	justify-content:flex-start;
	-webkit-align-items:center;
	align-items:center;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	width:100%;
}
.kurbi-qwpp-child {
	margin:5px 0;
	padding: 3px 10px;
	width: 100%;
	font-size: 14px;
	text-align: left;
	color: #4eba3a;
	background: #ffffff;
	border: 2px solid #4eba3a;
	border-radius: 3px;
	cursor:pointer;
}
.kurbi-qwpp-prompt{
	font-size:1.3em;
	color:#555555;
	margin-bottom:5px;
}
</style>
	<img src="#SMALL_IMAGE_URL" onload="
	kurbi.attachClickHandler['#pickle']('qwpp', function(data,chatbox){
		chatbox.sendMessage(data.message);
	});
	this.parentNode.removeChild(this);
	"/>
	<div class="kurbi-qwpp-prompt">Choose One:</div>
	<div class='kurbi-qwpp-parent'>
	 {{#each responses}}

	 <div class='kurbi-qwpp-child' onclick="(function(){
		 var temp = {{json this}};
		 var temp2 = {{json ../this}};
		 temp.message.variable = temp2.variable;
		 kurbi.click['#pickle']('qwpp', temp)
	 })()">{{this.text}}</div>
	 {{/each}}
	</div><!-- /.kurbi-qwpp-parent -->
</div>
