<div style="margin-top:0px;position:relative;">

<style type="text/css">
	.kurbi-hnmk-grandparent {
		display:-webkit-flex;
		display: flex;
		-webkit-flex-wrap:nowrap;
		flex-wrap:nowrap;
		-webkit-flex-direction:row;
		flex-direction:row;
		-webkit-justify-content:flex-start;
		justify-content:flex-start;
		-webkit-align-items:stretch;
		align-items:stretch;
		width:100%;
	}
	.kurbi-hnmk-body {}

	.kurbi-hnmk-body h1 {
		padding: 0 20px 8px 20px;
		font-size: 52px;
		font-weight: 800;
		color: #19110E;
	}
	.kurbi-hnmk-body p {
		padding: 0 20px;
		font-size: 14px;
		color: #19110E;
		white-space:pre-wrap;
		line-height: 1.6;
	}

</style>

<div class="kurbi-hnmk-grandparent">
	<div class="kurbi-hnmk-parent">
		<div class="kurbi-hnmk-body">
			<h1>{{headline}}</h1>
			<p>{{text}}</p>
			<img class="kurbi-hnmk-img" src="{{mainimage}}" style="width: 100%; height:auto;" />
		</div><!-- /.kurbi-hnmk-body -->
	</div><!-- /.kurbi-hnmk-parent -->
</div><!-- /.kurbi-hnmk-grandparent -->
