<div>
<style type="text/css">
.kurbi-qwpp-parent {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	flex-wrap:wrap;
	width:100%;
}
.kurbi-qwpp-child {
	line-height:50px;
	height:50px;
	margin-right:18px;
	margin-top:4px;
	margin-bottom:8px;
	color:white;
	padding-left:10px;
	padding-right:10px;
	min-width:150px;
	//	background-color:#85a6df;
		background-color: #90cdde;
	text-align: center;
	cursor:pointer;
	font-size:1.3em;
}
.kurbi-qwpp-prompt{
	font-size:1.3em;
	color:#888888;
	margin-bottom:10px;
}
</style>
<img src="#SMALL_IMAGE_URL" onload="
kurbi.attachClickHandler['#pickle']('qwpp', function(data,chatbox){
	chatbox.sendMessage(data.message);
});
this.parentNode.removeChild(this);
"/>
<div class="kurbi-qwpp-prompt">Choose One:</div>
<div class='kurbi-qwpp-parent'>
 {{#each responses}}

 <div class='kurbi-qwpp-child' onclick="(function(){
	 var temp = {{json this}};
	 var temp2 = {{json ../this}};
	 temp.message.variable = temp2.variable;
	 kurbi.click['#pickle']('qwpp', temp)
 })()">{{this.text}}</div>
 {{/each}}
</div>


</div>