<div style="margin-top:100px;position:relative;margin-left:10%;margin-right:10%;">

<style type="text/css">
/*	.kurbi-hnmk-grandparent {
		display:flex;
		flex-wrap:nowrap;
		flex-direction:row;
		justify-content:flex-start;
		align-items:stretch;
		width:100%;
	}
	i could not get this style to apply for no reason i could figure out.
*/	
	.kurbi-hnmk-displayName {
		font-weight:bold;
		font-size:1.5em;
		margin-bottom:15px;
		color:#000000;
	}
	.kurbi-hnmk-text {
		font-size:1.4em;
		color:#222222;
		font-weight:lighter;
		white-space:pre-wrap;
		line-height: 1.8em;
	}
	.kurbi-hnmk-img-container {
		
		width:380px;
		overflow:hidden;
		margin-left:10px;
		margin-right:10px;
		
	}
	.kurbi-hnmk-body {
		flex-grow:1;
		height:100%;
	}
	.kurbi-hnmk-img {
		width:100%;
		height:auto;
	}
</style>

<div class=".kurbi-hnmk-grandparent" style="display:flex; flex-direction:row;align-items:flex-start;">
	<div class="kurbi-hnmk-img-container">
		<img class="kurbi-hnmk-img" src="{{image}}" />
	</div>
	<div class="kurbi-hnmk-body">
		<div class="kurbi-hnmk-displayName">{{displayName}}</div>
		<div class="kurbi-hnmk-text">{{text}}</div>
	</div>
</div>



</div>