<div style="margin-top:100px;margin-bottom:100px;position:relative;">

<style type="text/css">



/*	.kurbi-hnmk-grandparent {
		display:flex;
		flex-wrap:nowrap;
		flex-direction:row;
		justify-content:flex-start;
		align-items:stretch;
		width:100%;
	}
	i could not get this style to apply for no reason i could figure out.
*/	
	.kurbi-hnmk-displayName {
		font-family:sans-serif;
		font-weight:bold;
		font-size:.8em;
		margin-bottom:15px;
		color:#444444;

	}

	.kurbi-hnmk-text {
		font-family:sans-serif;
		font-size:1.8em;
		color:#666666;
		white-space:pre-wrap;
	}

	.kurbi-hnmk-img-container {
		flex-grow:1;
		height:100%;
		overflow:hidden;
		margin-left:10px;
		margin-right:10px;
	}

	.kurbi-hnmk-body {
		flex-grow:2;
		height:100%;
	}

	.kurbi-hnmk-img {
		width:100%;
		height:auto;
	}


</style>

<div class=".kurbi-hnmk-grandparent" style="display:flex; flex-direction:row;align-items:flex-start;">
	<div class="kurbi-hnmk-img-container">
		<img class="kurbi-hnmk-img" src="{{image}}" />
	</div>
	<div class="kurbi-hnmk-body">
		<div class="kurbi-hnmk-displayName">{{displayName}}</div>
		<div class="kurbi-hnmk-text">{{text}}</div>
	</div>
</div>



</div>