<div class="kurbi-chat-box">
	<div class="kurbi-chat-header">
		<!-- <div class="user-avatar">
			<img src="{{icon_urlb}}" width="44" height="45" align="left" />
		</div> -->
		<!-- <div class="user-headline">{{headline}}</div> -->
		<div class="kurbi-chat-header-dots">
			<img id="kurbi-chat-dots-button" style="height:15px;width:auto;cursor:pointer;" src="{{server_dots_button}}"/>
		</div><!-- /.kurbi-chat-close-button -->
		<span class="pb-kurbi">powered by Kurbi</span>
		<div class="kurbi-chat-header-close">
			<img id="kurbi-chat-close-button" style="height:15px;width:auto;cursor:pointer;" src="{{server_close_button}}"/>
		</div><!-- /.kurbi-chat-close-button -->
	</div><!-- /.kurbi-chat-header -->

	<div class="kurbi-chat-container">

		<div class="kurbi-chat-body">


		</div><!-- /.kurbi-chat-body -->

		<div class="kurbi-chat-footer">
		

		</div><!-- /.kurbi-chat-footer -->

	</div><!-- /.kurbi-chat-container -->

</div><!-- /.kurbi-chat-box -->
<!--<script src="https://use.fontawesome.com/e03599b453.js"></script>-->