<div class="kurbi-chat-box">
  <div class="kurbi-chat-header">
    <div class="user-avatar">
      <img src="{{icon_urlb}}" width="44" height="45" align="left" />
    </div>
    <div class="user-headline">{{headline}}</div>
    <div class="kurbi-chat-header-close">
      <img id="kurbi-chat-close-button" style="height:15px;width:auto;cursor:pointer;" src="{{server_close_button}}"/>
    </div>
  </div>

<div class="kurbi-chat-container">

  <div class="kurbi-chat-body">



  </div>



  <div class="kurbi-chat-footer">
  

  </div>



</div>

</div>