<div class="kurbi-chat-box">
	<div class="kurbi-chat-header">
		<div class="kurbi-chat-header-close">
		<div class="user-avatar"><img src="#ICON" /></div>
		<div class="user-headline">#HEADLINE</div>
		<img id="kurbi-chat-close-button" style="height:50%;width:auto;cursor:pointer;" src="http://public.foolhardysoftworks.com:9000/backend/icons/PNG/close.png"/>
		</div>
	</div>

<div class="kurbi-chat-container">

	<div class="kurbi-chat-body">



	</div>



	<div class="kurbi-chat-footer">
	

	</div>



</div>

</div>