<div class="kurbi-chat-box">
	<div class="kurbi-chat-header">
		<h5>{{content}}<h5>
	</div>

<div class="kurbi-chat-container">

	<div class="kurbi-chat-body">



	</div>



	<div class="kurbi-chat-footer">
	

	</div>



</div>

</div>