<div class="kurbi-chat-box">
	<div class="kurbi-chat-header">
		<h5>{{content}}<h5>
	</div>

<div class="kurbi-chat-container">

	<div class="kurbi-chat-text kurbi-chat-grow kurbi-chat-main">



	</div>



	<div class="kurbi-chat-footer kurbi-chat-main">
	

	</div>



</div>

</div>