<div class="kurbi-chat-box">
	<div class="kurbi-chat-header">
		<h5>{{content}}<h5>
	</div>

<div class="kurbi-chat-container">

<<<<<<< HEAD
	<div class="kurbi-chat-body">



	</div>



	<div class="kurbi-chat-footer">
=======
	<div class="kurbi-chat-text kurbi-chat-grow kurbi-chat-main">



	</div>



	<div class="kurbi-chat-footer kurbi-chat-main">
>>>>>>> cf754e9e9a54eb191808bda8cf3473f2182343ce
	

	</div>

<<<<<<< HEAD
=======

>>>>>>> cf754e9e9a54eb191808bda8cf3473f2182343ce

</div>

</div>