<div class="kurbi-chat-icon"></div>
<div class="kurbi-chat-text">Thanks for visiting our website. We know how confusing it can be to find the care you're looking for. We'd love for you to choose {{name}}, but we care more about you finding the right fit for you.</div>
<div class="kurbi-chat-icon"></div>
<div class="kurbi-icon-selector">
	<ul>
		{{#each icons}}
		<li>{{this}}</li>
		{{/each}}
	</ul>


</div>