<div>
<style type="text/css">
.kurbi-ppdf-parent {
	display: -webkit-flex;
	display:flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	-webkit-justify-content:left;
	justify-content:left;
	-webkit-align-items:left;
	align-items:left;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	width:100%;
}
.kurbi-ppdf-yes {
	margin-bottom:10px;
	padding: 5px 10px;
	width: 296px;
	font-size: 16px;
	text-align: left;
	color: #ffffff;
	background: #000000;
	cursor:pointer;
}
.kurbi-ppdf-no {
	padding: 3px 10px;
	width: 296px;
	font-size: 16px;
	text-align: left;
	color: #000000;
	background: #ffffff;
	border: 2px solid #000000;
	cursor:pointer;
}
</style>
<img src="#SMALL_IMAGE_URL" onload="
kurbi.attachClickHandler['#pickle']('ppdf', function(data, chatbox){
	console.log(data);
	if(data.id=='cancel') chatbox.hide();
	else {
		chatbox.clear();
		chatbox.start();
	}
});
this.parentNode.removeChild(this);
"/>
	<div class='kurbi-ppdf-parent'>
		<div class='kurbi-ppdf-yes' onclick="kurbi.click['#pickle']('ppdf', {{json responses.yes}})">{{responses.yes.text}}</div>
		<div class='kurbi-ppdf-no' onclick="kurbi.click['#pickle']('ppdf', {{json responses.no}})">{{responses.no.text}}</div>
	</div><!-- /.kurbi-ppdf-parent -->

</div>
