<div style="margin-top:0px;position:relative;">

<style type="text/css">
	.kurbi-hnmk-grandparent {
		display:-webkit-flex;
		display: flex;
		-webkit-flex-wrap:nowrap;
		flex-wrap:nowrap;
		-webkit-flex-direction:row;
		flex-direction:row;
		-webkit-justify-content:flex-start;
		justify-content:flex-start;
		-webkit-align-items:stretch;
		align-items:stretch;
		width:100%;
		margin-bottom: 60px;
	}
	.kurbi-hnmk-parent {
		padding: 0 20px;
		width: 100%;
		background: #c6d2e6;
	}
	.kurbi-hnmk-parent h1.kurbi-hnmk-displayName {
		margin-bottom: 10px;
		font-size:20px;
		font-weight:bold;
		color:#000000;
	}
	img.kurbi-hnmk-img {
		margin: 0 auto -60px auto;
		width: 100%;
		height: auto;
	}
	.kurbi-hnmk-body {
		margin-top: 10px;
	}
	.kurbi-hnmk-text {
		font-size: 15px;
		color:#222222;
		font-weight:lighter;
		white-space:pre-wrap;
		line-height: 1.6;
	}

</style>

<div class="kurbi-hnmk-grandparent">
	<div class="kurbi-hnmk-parent">
		<h1 class="kurbi-hnmk-displayName">{{displayName}}</h1>
		<img class="kurbi-hnmk-img" src="{{mainimage}}" alt="{{text}}" />
	</div><!-- /.kurbi-hnmk-parent -->
</div><!-- /.kurbi-hnmk-grandparent -->
