<div>
<style type="text/css">

.kurbi-ppdf-parent {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	width:100%;
}

.kurbi-ppdf-yes {
	line-height:50px;
	height:50px;
	margin-right:8px;
	margin-top:4px;
	margin-bottom:8px;
	color:white;
	padding-left:10px;
	padding-right:10px;
	min-width:150px;
	background-color:#00aaff;
	text-align: center;
	font-family:sans-serif;
	font-weight: bold;
	cursor:pointer;
}



.kurbi-ppdf-no {
	line-height:50px;
	height:50px;
	margin-right:8px;
	margin-top:4px;
	margin-bottom:8px;
	color:black;
	padding-left:10px;
	padding-right:10px;
	min-width:150px;
	background-color:white;
	text-align: center;
	font-family:sans-serif;
	box-shadow: 1px 2px 2px #cccccc;
	font-weight: bold;
	cursor:pointer;
}


</style>
<img src="http://public.foolhardysoftworks.com:9000/backend/icons/PNG/small-image.png" onload="
kurbi.attachClickHandler['#pickle']('ppdf', function(data, chatbox){
	console.log(data);
	if(data.id=='cancel') chatbox.hide();
	else {
		chatbox.clear();
		chatbox.start();
	}
});

this.parentNode.removeChild(this);

"/>
<div class='kurbi-ppdf-parent'>
<div style="width:15%;"></div>
 <div class='kurbi-ppdf-yes' onclick="kurbi.click['#pickle']('ppdf', {{json responses.yes}})">{{responses.yes.text}}</div>

 <div class='kurbi-ppdf-no' onclick="kurbi.click['#pickle']('ppdf', {{json responses.no}})">{{responses.no.text}}</div>

</div>


</div>