<div>
<style type="text/css">

.kurbi-porq-prompt{
	font-size:1.3em;
	color:#888888;
	font-family:sans-serif;
	margin-bottom:30px;
}


.kurbi-porq-input{
	width:90%;
	margin-left:5%;
	height:150px;
	border:none;
}

.kurbi-porq-parent {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	width:100%;
}

.kurbi-porq-child {
	line-height:50px;
	height:50px;
	margin-right:8px;
	margin-top:4px;
	margin-bottom:8px;
	color:white;
	padding-left:10px;
	padding-right:10px;
	min-width:150px;
	background-color:#00aaff;
	text-align: center;
	font-family:sans-serif;
}

.kurbi-porq-icon {
	height:50px;
	width:auto;
	margin-right:8px;
	margin-top:4px;
	margin-bottom:8px;
}


</style>


<img src="http://public.foolhardysoftworks.com:9000/backend/icons/PNG/small-image.png" onload="
var input = this.parentNode.getElementsByClassName('kurbi-porq-input')[0];
kurbi.attachClickHandler['#pickle']('porq', function(data, chatbox){

	data.body.text = input.value;
	chatbox.sendMessage(data);
});

this.parentNode.removeChild(this);

"/>

<div>
<div class='kurbi-porq-prompt'>{{responses.prompt}}</div>
<textarea class='kurbi-porq-input'></textarea>
<div class='kurbi-porq-parent'>
 <div class='kurbi-porq-child' onclick="kurbi.click['#pickle']('porq', {{json responses.message}})">
 	{{responses.buttonText}}
 </div>

 <img class="kurbi-porq-icon" src="http://public.foolhardysoftworks.com:9000/backend/icons/PNG/small-image.png" onload="this.onload=null; this.src=kurbi.getPatientIcon();"/>

</div>



</div>